		<nav class="flex-first flex flex-column flex-spaced left-nav">
			<div class="nav-button">
				<span class="show">
					<%= link_to('Stories', '/stories') %>
				</span>
			</div>
			<div class="nav-button">
				<span class="show">
					<%= link_to('Thoughts', '/thoughts') %>
				</span>
			</div>
			<div class="nav-button">
				<span class="show about">
					<%= link_to('About', '/about') %>
				</span>
			</div>
			<div class="nav-button">
				<span class="show">
					<%= link_to('Log', '/log') %>
				</span>
			</div>
		</nav>