<main class="content-view flex-fill">
	<div class="content-frame intro">
		<p>
			This is a somewhat less linear than normal navigation system for topics I've written about.
			You can't go back or forward in time. You can only navigate by (clicking on) topics.
		</p>
		<p>
			It is work in progress, and I'm making it this way because I've never been a fan of blogging systems
			in that the emphasis they put on placement relative to other pieces and time of creation often makes me sad.
			I never really read back that far, while at the same time I always get pretty anxious knowing I might be
		  missing out on something that's older.
		</p>
		<p>
			In other words, the goal of this is to structure navigation around a tagging system alone.
			You can click on a topic and see the pieces written for that topic or navigate further down deeper into
			other topics. Much of this is meant to make me more thoughful when logging pieces.
			If a negative of it is that it's more confusing than normal, I'm hoping the pro would be that
			it forces you to navigate via a low-distraction path.
		</p>
		<p>
			I've seperated out recent thoughts into the <%= link_to "thoughts", "/thoughts" %> section, and the intention is to then log them
			(with maybe some extra revision) after they've been down on paper for a while and if they're worthwile.
		</p>
			<p>
				If this doesn't work out, then I'll think up some improvements. Email me some thoughts, if you feel so
				inclined...(I'm thinking about a comments controller as well but that may be a long time in coming).
			</p>

			<p>
				Navigate via the tabs.
			</p>
</main>