@import url(http://fonts.googleapis.com/css?family=Lora|Nunito);

body{
   font-family: "Lora", serif;
}

a{text-decoration: none;}
a:link {color: seagreen;}
a:visited {color:seagreen;}
a:hover {color: olivedrab;}



header{
  font-size: 2.25em; 
  font-style: italic;  
  width: 100%;
  margin-top: 20px; 
  text-align: center;
}

.title {
  text-align: center; 
}

.desc {
  font-size: .825em; 
  font-style: italic;
}

.toc {
  text-align: center; 
}

table {
  margin: auto;
}
