	<header class="index-head"> <span class="name">Dylan</span>
	</header>
	<div class="flex flex-fill content-wrapper">
	<%= partial 'partials/intro_show' %>
	<%= partial 'partials/left_nav' %>
	</div>
	<%= partial 'partials/footer' %>
