	<header class="index-head"> <span class="name">Dylan</span>
	</header>
	<div class="flex flex-fill content-wrapper">
	<%= partial 'partials/main_show', object: @main %>
	<%= partial 'partials/left_nav' %>
	</div>
	<%= partial 'partials/footer' %>
	<%= javascript_include_tag 'log' %>
