<header>
	<span class="title"><%= @content[:title] %></span>
	<span class="return"><%= link_to "Back", "/log/#{@piece.topics.first.name}" %></span>
</header>

<div class="master-container">
	<%= @content[:text] %>
</div>
