<header>
	<span class="title story"><%= @content[:title] %></span>
	<span class="return"><%= link_to "Table of Contents", "/stories" %></span>
</header>

<div class="master-container">
	<%= @content[:text] %>
</div>
